
body{
    background-color: black;
}
.mainButton{
    width: 46.5%;
    height: 200px;
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 1.5%;
  display: flexbox;
    background-color: sandybrown;
    text-align: center;
   
}
.viewTheItem{
  width: 300px;
  height: 300px;
  border-bottom: 2px solid red;
  

}
.describeTheItem{

  width: 300px;
  text-align: center;
font-size: 20px;
font-family: Arial ;
}
.addToCartButton{
  width: 80px;
  height: 40px;
  float: right;
  margin-right: 60px;
}
.viewTheDiv{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.backButton{
  margin-top: 20px;
  width: 90px;
  height: 40px;
  text-align: center;
font-size: 20px;
}
.s{
  width: 303px;
  margin-left: 20px;
  margin-top: 30px;
  background-color: white;
  border: white ;
  
}

