
body{
    background-color: rgb(196, 8, 221);
}
.mainButton{

    width: 46.5%;
    height: 200px;
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 1.5%;
  display: flexbox;
    background-color: sandybrown;
    
}
.viewTheShose{
width: 30%;
height: 200px;
margin-left: 10px;

}
.describeTheShose{
  width: 30%;
  text-align: center;
font-size: 20px;
font-family: Arial ;
}
.addToCartButton{
  width: 60px;
  height: 60px;
}
.viewTheShose1{
  display: flexbox;
}

.S{
  width: 30%;
  display: flexbox;
}